<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Portfolio Pro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" id="main-stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<script>
    var STATIC_URL = "{{ url_for('static', filename='') }}/";
</script>
<body>
    <nav class="header-container">
        <div id="main-title">Portfolio Pro</div>
        <div class="navigation">
            <a href="{{url_for('home')}}">Generate</a>
          <a href="{{url_for('login')}}">Login</a>
          <!-- <a href="{{url_for('register')}}">Register</a> -->
        </div>
    </nav>
      <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>