<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile AI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">  <!-- seperate file format for flask -->    
</head>

<body>
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1>Website Generator</h1>
                <form id="parameter-form" class="mt-5" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="profileImage"><strong>STEP 1: </strong> Upload Profile Image</label>
                            <input type="file" id="profileImage" class="form-control" name="profileImage" accept="image/*" required>
                        </div>
                        <div class="form-group">
                            <label for="resume"><strong>STEP 2: </strong> Upload Resume (PDF)</label></div>
                        <input type="file" id="resume" class="form-control" name="resume" accept="application/pdf" required>
                    </div>
                    <button type="submit" class="button-6">Create</button>
                </form>
                <div id="profile-section" class="mt-5" style="display: none;">
                    <div id="profile" class="mb-4">
                        <div id="profile-info">
                            <h2 id="name"></h2>
                            <p id="introduction" class="text-muted"></p>
                            <p id="website"></p>
                        </div>
                        <img id="profile-image" src="#" alt="Profile Image">
                    </div>
                    <h3><strong>Experiences</strong></h3>
                    <div class="divider"></div>
                    <div id="job-experiences"></div>
                    <h3><strong>Other:</strong></h3>
                    <div class="divider"></div>
                    <div id="other-experiences"></div>  
                </div>
                <div class="btn-group btn-fixed">
                    <!-- <button id="rate-job" class="btn btn-secondary">Rate for Job</button> -->
                    <button id="export-html" class="btn btn-secondary">Export as HTML</button> 
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>