<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>profile ai</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-6">
                <h1>profile ai</h1>
                <form id="parameter-form" class="mt-5">
                    <div class="form-group">
                        <label for="pgh">Paste Resume</label>
                        <textarea id="pgh" class="form-control" name="pgh" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                <div id="result" class="alert alert-info mt-3">
                    <!-- angle results or error message will be displayed here -->
                </div>
            </div>
        </div>
    </div>

    <!-- jquery bootstrap bundle-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

    <script>
        document.getElementById('parameter-form').addEventListener('submit', function (e) {
            e.preventDefault();
            const formData = new FormData(this);

            // fetch('/calculate', {
            fetch('http://127.0.0.1:5000/calculate', {
                method: 'POST',
                body: formData,
            })
                .then(response => {
                    console.log(response.json());
                    const ppinput = formData.get('pgh'); // paragraph input
                    const name = result.name;
                    const resultDiv = document.getElementById('result');
                    resultDiv.innerHTML = `Name: ${name} <br> Contact: ${contact}`;
                    resultDiv.style.display = 'block';
                });
        });
    </script>
</body>

</html>