<!-- basic template to reuse -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <nav>
        <a href="{{ url_for('main.index') }}">FlaskApp</a>
=
        <!-- Headings that redirect to subdomain when clicked (just # for now) -->
        <a href="{{url_for ('posts.index')}}">Posts</a>
        <a href= "{{ url_for('posts.categories')}}">Categories</a>
        <a href="{{url_for('questions.index')}}">Questions</a> 
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>